@charset "UTF-8";
body {
    background-color: #FAFAFA;
    margin: 0px;
    color: #262626;
    box-sizing: border-box;
}.fixed-width-label {
    width: 140px; /* 원하는 너비로 설정 */
    text-align: center; 
}
.title{
	margin-right:470px;
	font-size: 25px;
	 /*  font-weight: bold; */
	
}

.parent {
  display: flex;
  
  /*위에서 아래로 수직 배치*/
  flex-direction: column;
  
  /*중앙정렬*/
  justify-content: center;
}

.login_wrapper{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  	width:330px;
    height:380px;
    top:50%;
    left:50%;
    margin: -175px 0px 0px -190px;
    background-color:white;
	
}
.join_wrapper2{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: center;
  
  	width:900px;
    height:600px;
    top:50%;
    left:50%;
    margin: -370px 0px 0px -440px;
     background-color:white; 
     
  border-radius: 20%
    }
.join_form{
    display:flex;
     align-items: center;
    flex-direction: column;
    width:600px;
    margin-top:10px;
     text-align: center;
}
.wrap{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
.box{
            width: 100px;
            height: 100px;
            border: 1px solid black;
            text-align: center;
        }
