<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>iMarket</display-name>
  <welcome-file-list>
<!--     <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file> -->
  <!--  <welcome-file>MainPage.do</welcome-file> -->
     <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <resource-ref>
    <description>Oracle Datasource example</description>
    <res-ref-name>jdbc/myoracle</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <context-param>
    <param-name>OracleDriver</param-name>
    <param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>OracleURL</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  <context-param>
    <param-name>OracleId</param-name>
    <param-value>c##musthave</param-value>
  </context-param>
  <context-param>
    <param-name>OraclePwd</param-name>
    <param-value>1234</param-value>
  </context-param>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>DetailTest.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>CHAT_ADDR</param-name>
    <param-value>ws://localhost:8081/MustHaveJSP</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>User.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>User.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sellController</display-name>
    <servlet-name>sellController</servlet-name>
    <servlet-class>sell.SellController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellController</servlet-name>
    <url-pattern>/sell/sellController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressToCoordinatesServlet</display-name>
    <servlet-name>AddressToCoordinatesServlet</servlet-name>
    <servlet-class>HttpClient.AddressToCoordinatesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressToCoordinatesServlet</servlet-name>
    <url-pattern>/AddressToCoordinatesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KakaoHospitalSearchServlet</display-name>
    <servlet-name>KakaoHospitalSearchServlet</servlet-name>
    <servlet-class>hospital.KakaoHospitalSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KakaoHospitalSearchServlet</servlet-name>
    <url-pattern>/KakaoHospitalSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProxyServlet</display-name>
    <servlet-name>ProxyServlet</servlet-name>
    <servlet-class>hospital.ProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProxyServlet</servlet-name>
    <url-pattern>/ProxyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdFindController</display-name>
    <servlet-name>IdFindController</servlet-name>
    <servlet-class>Check.IdFindController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdFindController</servlet-name>
    <url-pattern>/IdFindController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAdminServlet</servlet-name>
    <servlet-class>admin.UserAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdminServlet</servlet-name>
    <url-pattern>/admin/users/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>admin.CategoryAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/admin/categories.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MVCBoardList</servlet-name>
    <servlet-class>mvcboard.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVCBoardList</servlet-name>
    <url-pattern>/mvcboard/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MVCBoardWrite</servlet-name>
    <servlet-class>mvcboard.WriteController</servlet-class>
    <multipart-config>
      <max-file-size>1048576</max-file-size>
      <max-request-size>10485760</max-request-size>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVCBoardWrite</servlet-name>
    <url-pattern>/mvcboard/write.do</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>POSTS_PER_PAGE</param-name>
    <param-value>9</param-value>
  </context-param>
  <context-param>
    <param-name>PAGES_PER_BLOCK</param-name>
    <param-value>5</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>admin.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PwFindController</display-name>
    <servlet-name>PwFindController</servlet-name>
    <servlet-class>Check.PwFindController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PwFindController</servlet-name>
    <url-pattern>/PwFindController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SiteTrafficServlet</display-name>
    <servlet-name>SiteTrafficServlet</servlet-name>
    <servlet-class>admin.SiteTrafficServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UpdateService</display-name>
    <servlet-name>UpdateService</servlet-name>
    <servlet-class>Check.UpdateService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SiteTrafficServlet</servlet-name>
    <url-pattern>/track</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewListServlet</servlet-name>
    <servlet-class>review.ReviewListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewListServlet</servlet-name>
    <url-pattern>/review/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewWriteServlet</servlet-name>
    <servlet-class>review.ReviewWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewWriteServlet</servlet-name>
    <url-pattern>/review/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewEditServlet</servlet-name>
    <servlet-class>review.ReviewEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewEditServlet</servlet-name>
    <url-pattern>/review/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewDeleteServlet</display-name>
    <servlet-name>ReviewDeleteServlet</servlet-name>
    <servlet-class>review.ReviewDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewDeleteServlet</servlet-name>
    <url-pattern>/review/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>review.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/review/images/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewLikeController</servlet-name>
    <servlet-class>review.LikeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewLikeController</servlet-name>
    <url-pattern>/review/like</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeService</display-name>
    <servlet-name>ChangeService</servlet-name>
    <servlet-class>Check.ChangeService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeService</servlet-name>
    <url-pattern>/ChangeService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>idCheck</display-name>
    <servlet-name>idCheck</servlet-name>
    <servlet-class>Check.idCheck</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ChangePwd</display-name>
    <servlet-name>ChangePwd</servlet-name>
    <servlet-class>Check.ChangePwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePwd</servlet-name>
    <url-pattern>/ChangePwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductCount</display-name>
    <servlet-name>ProductCount</servlet-name>
    <servlet-class>Count.ProductCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCount</servlet-name>
    <url-pattern>/ProductCount</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>GoDetail</display-name>
    <servlet-name>GoDetail</servlet-name>
    <servlet-class>Count.GoDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoDetail</servlet-name>
    <url-pattern>/GoDetail</url-pattern>
  </servlet-mapping>

</web-app>